<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body>
    <h1><%=username%></h1>
    <a href="/logout">Logout</a><br>
    <a href="/jobs/<%=data.id%>/lamar">Lamar Job</a><br>
    <a href="/profiles/<%=data.id%>/edit">Edit Profile</a>
    <table>
        <tr>
            <td>No</td>
            <td>Nama Job</td>
            <td>Status</td>
        </tr>
        <%for(let i = 0 ; i < data.Jobs.length ; i++){%>
            <tr>
                <td><%=i + 1%></td>
                <td><%= data.Jobs[i].name%></td>
                <td><%= data.status%></td>
            </tr>
        <%}%>
    </table>

        

</body>
</html>